.color-box {
    float:left;
    background: var(--color-black);

    width: 18%;
    height: 168px;
    margin-left: 1%;
    margin-right: 1%;

    border-radius: 8px;
}
.color-box--orange {
    background: var(--color-orange);
}
.color-box--green {
    background: var(--color-green);
}
.color-box--fuchsia {
    background: var(--color-fuchsia);
}
.color-box--blue {
    background: var(--color-blue);
}
.color-box--light-grey {
    background: var(--color-light-grey);
}

/*
 Logo component
*/
.logo > .logo__link,
.logo > .logo__link:active,
.logo > .logo__link:visited {
    color: var(--color-fuchsia);
}
.logo > .logo__link:hover {
    color: var(--color-blue);
}
.logo > .logo__link .logo__bg {
    fill: var(--color-fuchsia);
    transition: all 268ms ease 0s;
}

.logo > .logo__link:hover .logo__bg {
    fill: var(--color-blue);
    transition: all 268ms ease 0s;
}

/*
 Card component
*/
.card {
    height: 216px;
    margin-bottom: calc(var(--grid-gutter));

    background: var(--color-fuchsia);
}
@media (min-width: 480px) {
    .card {
        height: 268px;
    }
}
@media (min-width: 768px) {
    .card {
        height: 320px;
    }
}
@media (min-width: 960px) {
    .card {
        height: 360px;
    }
}

/*
 Book pages 
*/
.pages {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.page__left, .page__right {
    width: 50%;
    height: 100%;

    border: 0;
}