
.card {
    margin-bottom: 24px;
    width: 100%;
    position: relative;
    float: left;
    border: 1px solid darkgrey;
}

.welkom {
    padding-left: 20px;
    padding-right: 10px;
}


.card >img {
    object-fit: cover;
    width:100%;
    height: 100%;

    }

/*
 Logo component
*/
.logo > .logo__link,
.logo > .logo__link:active,
.logo > .logo__link:visited {
    color: var(--color-fuchsia);
}
.logo > .logo__link:hover {
    color: var(--color-blue);
}
.logo > .logo__link .logo__bg {
    fill: var(--color-fuchsia);
    transition: all 268ms ease 0s;
}

.logo > .logo__link:hover .logo__bg {
    fill: var(--color-blue);
    transition: all 268ms ease 0s;
}

/*
 Card component
*/

@media (min-width: 480px) {
    .card {
        height: 330px;
    }
}
@media (min-width: 768px) {
    .card {
        height: 320px;
    }
}
@media (min-width: 960px) {
    .card {
        height: 360px;
    }
}

/*
 Book pages 
*/
.pages {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.page__left, .page__right {
    width: 50%;
    height: 100%;

    border: 0;
}